body {
    background-color: #EAF6F6;
}

hr {
    background-color: none;

    border-style: dotted none none;
    border-color: grey;
    border-width: 8px;

    border-top: 8px dotted;
    border-top-color: grey;
    height: 0px;

    width: 8%;
}

h1 {
    color: #66bfb6;
    font-family: Verdana;
}

h3 {
    color: #66bfb6;
    font-family: Verdana;
}

table {
    border-spacing: 15px;
}