/************* TAG SELECTORS **************/

body {
    margin: 0px;
    text-align: center;
    /* Centers every inline-block and block elements within */
    /* the parent element if width not specified in the child */
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

/************* CLASS SELECTORS **************/
/* Classes are like names. Many people can have the same name
You can give many elements the same class name
Multiple classes can be initialized on an HTML element. Eg. <img class ='broccoli circular'></img>
I have just given the above element 2 classes
  */
/* 
.bacon {
    background-color: green;
    width: 10%;
    height: 10%;
}

.broccoli {
    background-color: red;
    width: 10%;
    height: 10%;
}

.circular {
    border-radius: 50%;
}  */

.top-container {
    background-color: #c3edea;
    position: relative;
    padding-top: 100px;
}


.middle-container {
    background-color: #f8f3eb;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
    text-align: center;
    align-items: center;
}

.mid-hover:hover {
    display: none;
}


.bottom-container {
    background-color: #fc7e2f;
    width: 200px;
    height: 200px;
    margin-left: 400px;
    display: flex;
    text-align: center;
    align-items: center;
}

/* :hover, :active things in CSS denote pseudo classes. 
Pseudo classes represents an element (such as a button) that is being activated by the user. */
/* In this case, :hover represents what happens when a user mouses over the img element */

/*
img:hover {
    background-color: gold;
} 
*/
.bot-hover:hover {
    visibility: hidden;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 6%;
}

.bottom-cloud {
    position: absolute;
    bottom: 55%;
    left: 20%;
}







/************* ID SELECTORS **************/
/* IDs are like passports. Many people can have the same name, but only one person can have that passport. */
/* There can only exist a single instance of an ID within the entire page */
/* Examples of usage: Navigation bars. You're probably only going to have 1x navigation bar on your entire webpage */
/* ID can ONLY be initialized with 1-word strings. 
Eg. id="heading" -> Correct
    id="heading big" -> wrong */