html {
    scroll-behavior: smooth;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 3% 15% 7% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

p {
    color: #8f8f8f;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link { 
    font-size: 1.2rem; 
    font-family: "Montserrat"; 
    font-weight: 300;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-img {
    width: 60%;  /* Makes this 60% of it's parent container. Which is col-lg-6 in this case */
    /* This is useful because then when the cols expand to 
    col-12 on mobile width, the rotated img doesn't overlap the download buttons */
    transform: rotate(25deg);
    margin-left: 5%;
    position: absolute;
    right: 30%;

}

/* Feature Section */
/* You always want to just pad sections out. You don't want to add margins.
Sections basically divide your website up into boxes that you can work on.
Remember, in HTML, everything is essentially a box */

#features {
    padding: 7% 15%;  
    background-color: white;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;   /* In this case, the parent is the bootstrap 'row' class. Think of it this way, whwen you're setting a padding, what's the next higher level enclosing the current tag? */
}


/* Feature Icons */
.icon { 
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%; 
}

.testimonial-img {
    border-radius: 50%;
    width: 10%;
    margin: 20px;
} 

/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
    padding: 7%;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}


/* Call to Action Section  */

#cta {
    background-color: #ff4c68;
    padding: 7% 25%;
    text-align: center;
}

h3.cta-header {
    color: white;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
}

/* Footer Section */

#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.social-icons {
    margin: 20px 10px;
}


@media (max-width: 990px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
        margin-left: 0;
        margin-top: 3%;
    }
}

